.button {
  padding: 14px 0 11px;
  width: 189px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  &--white {
    min-width: 200px;
    border: 1px solid #ffffff;
    background: none;
    color: white;
  }
  &--gray {
    background: #dadada;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) inset;
    color: #8E8E8E;
    margin: 0 auto;

  }

  &__circle {
    width: 16px;
    height: 16px;
    background: white;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }
  &__circle:after {
    content: url("../img/general_page/icon.png");
  }
}
