.header {
  padding: 0 15px;
  height: 46px;
  background: #181818;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 10px;
  &__img {
    max-height: 100%;
  }
  &__title {
    color: #ffc700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    word-wrap: break-word;
  }
}

.burger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  padding: 0;
  &-item {
    align-self: stretch;
    height: 2.6px;
    background: #dadada;
    display: inline-block;
  }
}
