.preference {
  background-color: white;
padding: 38px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

&__text {
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #272727;
}

&__text--large {
  font-weight: 700;
  text-transform: uppercase;
}
  &__text--small{
    text-transform: lowercase;
  }
}
