
.main {
  height: calc(100vh - 46px);
  background: url("../img/rain_bk2.png");
  position: relative;
  padding: 20px;
}
.line {
  background: rgba(242, 243, 243, 0.6);
  border-radius: 10.5px;
  height: 11px;
  justify-self: baseline;
  &--green {
    display: block;
    width: calc(100% - 93%);
    background: #3bde7c;
  }
}
.slide {
  min-height: 100%;
  display: flex;
  &__title {
    line-height: 20px;
    letter-spacing: 0.35px;
    margin-top: 28px;
    font-size: 18px;
  }
  &__container {
    width: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
.input {
  flex: 1;
  max-height: 60px;
  background-color: rgba(242, 243, 243, 0.15);
  padding: 0 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.colorblock.activeBtn {
  border: 3px solid gold;
}
.colorblock {
  box-sizing: border-box;
  border: 3px solid transparent;
  box-sizing: border-box;
}
.question_content {
  margin:15px 0 ;
}
.picture {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px 24px;
}
.numberBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin: 0;
  gap: 5px;
  &__item {
    border:3px solid transparent;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
  }
}
.test-img {
  max-width: 100%;
  margin: 0 auto;
}
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  border-color: rgba(39, 39, 39, 1);
  background-color: rgba(41, 80, 194, 1);
}
.custom-radio:checked + label {
  background-color: #ffc700;
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}
//////////////Slider//////////////////
.lds-roller {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
