@import "_normalaz";
@import '_mixin';
@import 'variables';
@import 'sections/sections';
@import 'components/components';
//@import '_header';
//@import '_header-description';
//@import '_section-main';
//@import '_footer-information';
*{
    box-sizing: border-box;
}
body{
    max-width: 320px;
    margin: 0 auto;
    background: url('@img/Header.png')no-repeat;
    position: relative;
}